{% from 'macros.html' import fields_errors,flash_message %}
{% extends 'base.html' %}

  {% block title %}{{_('Unifispot | Forgot password')}} {% endblock %}



{%block bodyClass %}
  <body class="login">
{% endblock %}

{% block contentBlock %}
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            {{flash_message()}}
            <form action="{{ url_for_security('forgot_password') }}" method="post">
              <h1>{{_('Forgot password')}}</h2>

              <p>{{_('Enter your email address for resetting your password.')}}</p>
              <div>
                  {{ forgot_password_form.hidden_tag() }}
                  {{ fields_errors(forgot_password_form.email) }}   
                <input type="text" class="form-control" placeholder="{{_('Email') }}"" required="" name="email" id="email" />
              </div>
              <div>
                <button class="btn btn-default submit" type="submit">{{ _('Recover Password') }}</button>

              </div>

              <div class="clearfix"></div>

              <div class="separator">

                <div class="clearfix"></div>
                <br />

                <div>
                <!--Keeping below lines are needed to be in align with AGPL.

                Contact Us if you would like to purcharse a branding permission

                -->  
                <!--AGPL attribution starts-->
                  <p><small>{{ _('Powered By')}} <a href="http://unifispot.com"title="Captive portal with Socil Login and Data collection" target="_blank">{{ _('Unifispot') }}</a></small> </p>
                <!--AGPL attribution end-->
                </div>
              </div>
            </form>
          </section>
        </div>


{%endblock%}


