{% extends 'guest/default/base_landing.html'  %}

{% from 'guest/default/guestmacros.html' import render_guest%}

{% block mainData %}
<form class="m-t" role="form" method="POST" id='email_form'>

<div id="email">
    <p>{{_('Looks like your quota have expired')}}</p>
    <p>{{_('Please contact management')}}
    {{render_guest(override_form)}}    
                
    <button type="submit"  class="btn btn-email block full-width m-b" href="#" id="email-login">
        <strong> {{_('Login')}} </strong>
    </button>          
                      
</div>
</form>
{%endblock%}  


