{% extends 'master.html' %}

{% block customCSS %}
     <!-- Datatables -->
     <link href="{{ url_for('static', filename='datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
     <link href="{{ url_for('static', filename='datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">

{%endblock%}
{% block title %}{{_('Manage Admins')}}  {% endblock %}

{% block mainContent %}
{{modal_form(userform,'adminmodal',"Admin Details")}}

<div class="page-title">
  <div class="title_left">
    <h3>Admins</h3>
  </div>

  <div class="title_right">
  </div>
</div>

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="btn btn-xs btn-success" style="color:#fff;" id="adminmodal-add-new">{{_('New Admin')}} </a></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>{{_('Displayname')}}</th>
                        <th>{{_('Email')}}</th>
                        <th>{{_('Actions')}}</th>

                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>

    </div>
  </div>
</div>

{% endblock%}


{% block js_block %}
    <!-- Datatables -->
    <script src="{{ url_for('static', filename='datatables.net/js/jquery.dataTables.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script> 

    <!--Custom -->
    <script src="{{ url_for('static', filename='custom/js/datatable.js') }}"></script>

    <script>
        $(document).ready(function() {
          // $('.dataTables-example').DataTable();
           
          create_site_menu("{{url_for('WifisiteAPI:index')}}",0);
        var users_table = new DataTableWithEdit("datatable-responsive",{
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "ordering": false,
                "ajax": "{{url_for('AdminAPI:index')}}"},
                "{{url_for('AdminAPI:index')}}",
                'adminmodal');
    });
    </script>    

{%endblock%}